<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- <main id="main" class="animated fadeIn"> -->
        <nav>
            <h4 class="nav-header animated lightSpeedIn">wanna help an idea blossom? <span class="d-none d-md-inline">please answer a few
                    questions</span></h4>
        </nav>

        <section id="home" data-router-view="home" class="home">
            <div class="home-content row">
                <div class="home-presentation col-12 col-md-5">
                    <h2 class="text-center header-one animated zoomIn display-4 display-md-4 display-lg-2">everyday life questions</h2>
                    <p class="text-center animated zoomIn">the survey will take less than 10minutes and your answers will be made public only if you want</p>
                </div>
                <div class="col-12 col-md-5"><img class="img-fluid animated flipInY image mx-auto d-block"
                        src="/images/image1.svg" alt="home"></div>
                <div class="col-12 col-md-2 arrow text-center animated lightSpeedIn">
                    <h5 class="icon mb-4 d-none d-md-block display-5">start</h5>
                    <a class="icon-a" href="/survey"><img class="img-fluid mx-auto d-block icon"
                            src="/images/arrow-right-solid.svg" alt="go" style="width: 60px; height: 40px;"></i></a>
                </div>
            </div>
        </section>
    <!-- </main> -->


    <script src="/javascripts/jquery-3.4.1.slim.js" type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
</body>

</html>