<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css">
    
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="main">
    <form action="/survey" method="post">
        <div id="accordion">
            <div class="card">
                <div class="card-header py-5" style="background: #7F7FD5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                " id="headingOne">
                    <h5 class="mb-0 text-center display-4">
                        <div class="btn cursor text-white" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            tell us about you
                        </div>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body container">
                        <div class="form-row mt-4">
                            <div class="form-group col-12 mb-2">
                                <h5 class="mb-3">what's your name? (optional)</h5>
                                <input type="text" name="name" class="form-control" placeholder="Justice Eziefule">
                            </div>
                            <div class="form-group col-12 mt-5">
                                <h5 class="mb-3">are you male or female?</h5>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="male" name="sex" class="custom-control-input" value="male">
                                    <label class="custom-control-label" for="male">male</label>
                                </div>
                                <div class="custom-control ml-0 ml-lg-5 custom-radio custom-control-inline">
                                    <input type="radio" id="female" name="sex" class="custom-control-input"
                                        value="female">
                                    <label class="custom-control-label" for="female">female</label>
                                </div>
                            </div>

                            <div class="form-group col-12 mt-5">
                                <h5 class="mb-3">please choose your age range (years)</h5>
                                <div class="mb-3 custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="10" name="ageRange" class="custom-control-input"
                                        value="10 - 15">
                                    <label class="custom-control-label" for="10">10 - 15</label>
                                </div>
                                <div class="mb-3 ml-0 ml-lg-5 custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="16" name="ageRange" class="custom-control-input"
                                        value="16 - 18">
                                    <label class="custom-control-label" for="16">16 - 18</label>
                                </div>
                                <div class="mb-3 ml-0 ml-lg-5 custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="19" name="ageRange" class="custom-control-input"
                                        value="19 - 25">
                                    <label class="custom-control-label" for="19">19 - 25</label>
                                </div>
                                <div class="mb-3 ml-0 ml-lg-5 custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="26" name="ageRange" class="custom-control-input"
                                        value="26 - 42">
                                    <label class="custom-control-label" for="26">26 - 42</label>
                                </div>
                                <div class="mb-3 ml-0 ml-lg-5 custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="43" name="ageRange" class="custom-control-input"
                                        value="43 - above">
                                    <label class="custom-control-label" for="43">43 - above</label>
                                </div>
                            </div>

                            <div class="form-group col-12 mt-5">
                                <h5 class="mb-3">marrital status</h5>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="married" name="maritalStatus" class="custom-control-input"
                                        value="married">
                                    <label class="custom-control-label" for="married">married</label>
                                </div>
                                <div class="custom-control ml-0 ml-lg-5 custom-radio custom-control-inline">
                                    <input type="radio" id="single" name="maritalStatus" class="custom-control-input"
                                        value="single">
                                    <label class="custom-control-label" for="single">single</label>
                                </div>
                                <div class="custom-control ml-0 ml-lg-5 custom-radio custom-control-inline">
                                    <input type="radio" id="divorced" name="maritalStatus" class="custom-control-input"
                                        value="single">
                                    <label class="custom-control-label" for="divorced">divorced</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-5">
                            <h5 class="mb-3">what's your proffesion</h5>
                            <input type="text" class="form-control" name="photographer" placeholder="digital marketer">
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-5" style="height: 155px; background: #EF3B36;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                "id="headingTwo">
                    <h5 class="mb-0 text-center display-4">
                        <div class="btn cursor text-white collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Question #2
                        </div>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-5" style="height: 155px; background: #7F7FD5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                " id="headingThree">
                    <h5 class="mb-0 text-center display-4">
                        <div class="btn text-white cursor collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            Question #3
                        </div>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-5" style="height: 155px; background: #EF3B36;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                " id="headingfour">
                    <h5 class="mb-0 text-center display-4">
                        <div class="btn text-white cursor collapsed" data-toggle="collapse" data-target="#collapsefour"
                            aria-expanded="false" aria-controls="collapsefour">
                            Question #4
                        </div>
                    </h5>
                </div>
                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                    <div class="card-body container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-5" style="height: 155px; background: #7F7FD5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                " id="headingfive">
                    <h5 class="mb-0 text-center display-4">
                        <div class="btn text-white cursor collapsed" data-toggle="collapse" data-target="#collapsefive"
                            aria-expanded="false" aria-controls="collapsefive">
                            Question #5
                        </div>
                    </h5>
                </div>
                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                    <div class="card-body container">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee
                        nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt
                        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
</body>

</html>